*{
    margin: 0;
    padding: 0;
}
.conatiner{
    width: 100%;
    height: 100vh;
    box-sizing:border-box ;
    

}
.header{
    width: 100%;
    height: 100px;
    background-color:black;

}
.header img{
    width: 100%;
    height: 100%;
    
}
.logo{
    height: 100%;
    width: 25%;
  
    float: left;

}
.logo img{
    width:200px;
    height: 90px;
    margin-left: 50px;
    margin-top: 10px;

}
.search-bar {
    width: 100%;
    padding: 20px 0;
    background-color: #f0f0f0;
    text-align: center;
}

.search-bar input[type="text"] {
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    margin-right: 10px;
}

.search-bar button {
    padding: 10px;
    border-radius: 5px;
    background-color: #007bff;
    color: #fff;
    border: none;
    cursor: pointer;
}

.search-bar button:hover {
    background-color: #0056b3;
}

.articale{
    width: 100%;
    height: 800px;
    display: flex;
    background-color:white;
}
.content{
    width: 20%;
    height: 500px;
    border: none solid #ebebeb;
    margin-top: 15px;

}
.content h2{
    margin-top: 30px;
    margin-left: 20px;

}
.dash{
   
    
}
.dash a{
    text-decoration: none;
    margin-left: 20px;
    font-size: 26px;
}
.dash i{
    margin-top: 40px;
    padding: 10px;
}
.res a{
    text-decoration: none;
    margin-left: 20px;
    font-size: 26px;
    
    
}
.res i{
    margin-top: 40px;
    padding: 10px;
}

.rep a{
    text-decoration: none;
    margin-left: 20px;
    font-size: 26px;
    
    
}
.rep i{
    margin-top: 40px;
    padding: 10px;
    margin-bottom:100px;
}

.sidebar{
    width: 75%;
    height: 500px;
   border: 1px solid #ebebeb;
   margin-left: 20px;
   margin-top: 15px;
   
    
}
.dashboard{
    width: 100%;
    margin-top: 30px;
    display: flex;
}

.media{
    width: 250px;
    height: 150px;
   background-color: #ebebeb;
   margin-left: 25px;
    margin-top: 20px;
}
.media-icon i{
   
    margin-top: 20px;
    font-size: 50px;
    margin-left: 10px;
}
.media-txt p{
    margin-left: 25px;
 
    font-size: 30px;
    margin-top: 40px;
}
.media-txt h1{
    margin-left:140px;
    margin-top: -40px;
 
    font-size: 30px;
}
footer {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
}

.footer-content {
    margin-top: 10px;
}
